:root {
    color-scheme: dark;
}

body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    height: 100vh;
}

p {
    text-align: center;
    vertical-align: middle;
    color: #00FF00;
    font-size: 1vw;
    height: 100vh;
    line-height: 100vh;
    margin: 0;
    display: inline;
}

div {
    text-align: center;
}

#cursor {
    animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }